* {
    box-sizing: border-box;
}
.projectHeading {
    text-align: center;
    font-size: small;
}


.card-text {
   text-align: center;
}

/* web-image {
    height: 275px;
    width: 100px;
    margin: 5px;
} */
img {
    border: 2px solid navy;
}
footer {
    margin-top: 5rem;
}